
.project-holder {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;

  .img-holder {
    width: 40%;
    aspect-ratio: 16 / 9;
    background: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    align-content: center;

    img {
        height: 90% !important;
        object-fit: contain;
        border-radius: 10px;
    }
  }

  .project-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    .project-title {
      font-size: 32px;
    }

    .project-link {
      color: var(--foreground);
      text-decoration: none;
      transition: color 0.3s;

      &.right {
        right: 0;
      }

      &.left {
        left: 0;
      }

      a:hover {
        color: var(--highlight);
      }
    }

    .project-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;
      margin-top: 10px;
      margin-bottom: 20px;

      &.left {
        justify-content: flex-start;
      }

      &.right {
        justify-content: flex-end;
      }

      .tag {
        padding: 5px 10px;
        border-radius: 5px;
        background: var(--card-background);
        color: var(--foreground);
        font-size: smaller;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

        &:hover {
          background: var(--highlight);
          color: white;
          cursor: pointer;
        }
      }
    }

    .project-description {
      margin-bottom: 40px;
    }
  }

  .line {
    margin-top :0;
    width: 30%;

    &.left {
      align-self: start;
    }
    &.right {
      align-self: end;
    }
  }

}

@media (max-width: 768px) {
  .project-holder {
    flex-direction: column;
    gap: 20px;

    .img-holder {
      display: none;
    }

    .project-text {
      width: 100%;
      &.right {
        text-align: left !important;
      }
    }

    .line {
      width: 100%;
    }

    .project-tags.right {
      justify-content: flex-start !important;
    }
  }
}


