.line {
    width: 10%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--highlight);
    margin-bottom: 20px;
    margin-top: 40px;
}

.title-header {
    font-size: 32px;
    font-weight: bold;
}